{% extends "layout.html" %}

{% block head %}
  <title>Sobre - Felipe Molinos</title>
{% endblock %}

{% block content %}

<div id="wrapper">
  <img src="https://avatars2.githubusercontent.com/u/40651456?s=460&u=f4a727ff0e82bc246e43aa1e86c7a429e3c3fe61&v=4" alt="Felipe Molinos">
  <h1>Felipe Molinos</h1>
  <h2>Web Developer</h2>
  <p>Programador Front-End, no momento aprendendo o framework React.</p>
</div>

<div id="links-footer" class="links">
  <a href="https://github.com/femolinos" target="_blank">GitHub</a>
  <a href="https://twitter.com/femolinos" target="_blank">Twitter</a>
  <a href="https://linkedin.com/in/felipe-molinos" target="_blank">LinkedIn</a>
</div>

{% endblock %}