@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #282a36;
  text-align: center;
  color: white;
}

body img{
  margin-top: 32px;
}

body h1{
  margin-top: 30px;
}

body p{
  margin-top: 15px;
  font-size: 20px;
}

body ul{
  margin-top: 15px;
}

body ul li{
  padding: 5px;
  font-size: 15px;
}

header{
  padding: 32px;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #333;
}

header div{
  text-align: center;
}

header div a{
  color: white;
  text-decoration: none;
  margin: 0 30px;
  transition: color 200ms;
}

header div a:hover{
  color: #50fa7b;
  transition: color 200ms;
}