@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background: #282a36;
  font-family: 'Roboto', sans-serif;
}

header{
  padding: 30px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

header div{
  text-align: center;
}

header div a{
  text-decoration: none;
  color: white;
  margin: 0 30px;
  transition: color 200ms;
}

header div a:hover{
  color: #50fa7b;
  transition: color 200ms;
}