{% extends "layout.njk" %}

{% block head %}
  <title>Página não encontrada</title>
  <link rel="stylesheet" href="not-found.css">
{% endblock %}

{% block content %}
  <h1>Erro 404 - Página não encontrada!</h1>
{% endblock %}