.posts {
  max-width: 800px;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  color: white;
}

.post {
  background: #1D1F27;
}

.post img {
  width: 100%;
}

.post h2, .info-post p {
  padding: 24px;
}

.info-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-post p {
  background: #1D1F27;
  filter: brightness(90%);
}

.info-post p > p {
  padding: 5px 20px;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5%;
}