{% extends "layout.njk" %}

{% block head %}
  <title>Sobre</title>
  <link rel="stylesheet" href="sobre.css">
{% endblock %}

{% block content %}

  <div id="content">
    <img src="https://avatars0.githubusercontent.com/u/28929274?s=200&v=4" alt="logo-rocketseat">
    <h1>Rocketseat</h1>
    <h2>Evolua rápido como a tecnologia</h2>
    <p>Junte-se a milhares de devs e acelere na direção dos seus objetivos.</p>
    <div id="techs">
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>React</li>
        <li>React Native</li>
      </ul>
    </div>
  </div>

{% endblock %}