{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    <section class="image"></section>
    <section class="details">
      <div class="title">Detalhes</div>
      <div class="item">
        <div>Nome Completo</div>
        <div>Rodolfo Alberto</div>
      </div>
      <div class="item">
        <div>Idade</div>
        <div>32</div>
      </div>
      <div class="item">
        <div>Grau de Escolaridade</div>
        <div>Doutorado em História</div>
      </div>
      <div class="item">
        <div>Tipo de Aula</div>
        <div>Presencial</div>
      </div>
      <div class="item">
        <div>Acompanhamento</div>
        <span>História</span>
        <span>Geografia</span>
        <span>Sociologia</span>
      </div>
      <div class="item">
        <div>Desde</div>
        <div>08/02/2020</div>
      </div>
    </section>
  </div>
{% endblock %}