{% extends "layout.njk" %}

{% block head %}
  <title>Conteúdos</title>
  <link rel="stylesheet" href="/conteudos.css">
{% endblock %}

{% block content %}

  <section class="posts">
    {%for post in posts %}
      <div class="post" id="{{post.id}}">
        <img src="{{post.url}}" alt="Foto do post">
        <h2>{{post.title}}</h2>
        <div class="info-post">
          <p>{{post.author}}</p>
          <p>{{post.duration}}</p>
        </div>
      </div>
    {% endfor %}
  </section>

  <script src="./conteudo.js"></script>

{% endblock %}